body {
    background-color: azure;
    width: 960px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

header { width: 940px;
margin: 10 20 10 20;
}

header  h1,h2 { 
text-align: center;
margin-top: 2px; }

main { width: 940px;
margin: 10 20 10 20;
}

h3,em { color: blue;}

main p { text-align: justify;}

address {text-align: center;}
