body {
    width: 960px;
    margin: 0 auto;
    background-color: azure;
}

#container {
    width: 180px;
    margin: 0 auto;
    background-color: red;
    text-align: center;
}

table {
    margin: 0px 20px 0px 20px;
}